.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  --soft: #74a4ff;
  --hard: var(--primary);
}

.loadContainer {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  letter-spacing: normal;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.lineSpinner {
  width: 10px;
  height: 30px;
  background: var(--soft);
  position: relative;
  animation: lineSpinner 1s ease-in-out infinite;
  animation-delay: 0.4s;
  border-radius: 8px;
}
.lineSpinner:after,
.lineSpinner:before {
  border-radius: 8px;
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  background: var(--soft);
  animation: lineSpinner 1s ease-in-out infinite;
}
.lineSpinner:before {
  right: 18px;
  animation-delay: 0.15s;
}
.lineSpinner:after {
  left: 18px;
  animation-delay: 0.6s;
}

@keyframes lineSpinner {
  0%,
  100% {
    background-color: var(--soft);
    box-shadow: 0 0 0 var(--soft), 0 0 0 var(--soft);
  }
  50% {
    background-color: var(--hard);
    box-shadow: 0 -15px 0 var(--hard), 0 15px 0 var(--hard);
  }
}
