.inputs {
  font-family: var(--ff-primary);
  font-size: var(--h6);
  color: var(--gray-700);
  font-weight: var(--fw-regular);
  background-color: var(--white);
  padding: 1rem;
  border: none;
  caret-color: currentColor;
  outline: 1px solid var(--gray-200);
  border-radius: 0.25rem;
  transition: background-color 200ms ease-out;
}

.full {
  width: 100%;
}

.max {
  width: max-content;
  padding-inline: 1.5rem;
}

.inputs[type="submit"] {
  font-weight: var(--fw-bold);
  color: var(--gray-700);
  background-color: var(--primary);
  outline: none;
  cursor: pointer;
}

.inputs[type="submit"]:hover:enabled {
  background-color: var(--hover);
}

.inputs[type="submit"]:active:enabled {
  filter: saturate(0.5);
}

.inputs[data-type="textarea"] {
  resize: vertical;
}

.inputs::placeholder {
  color: var(--gray-300);
  user-select: none;
}

.inputs[data-type="textarea"]:focus,
.text:focus-visible {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}

.inputs[type="submit"]:disabled {
  background-color: rgb(198, 250, 199);
  color: rgba(0, 0, 0, 0.4);
  cursor: wait;
}

.password {
  width: 100%;
  border-radius: 0.25rem;
  outline: none;
}

.group {
  background-color: var(--white, white);
  border-radius: 0.25rem;
  outline: 1px solid var(--gray-200);
  display: flex;
  align-items: center;
}

.group.focus {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}

.seen {
  position: relative;
  border-radius: 50%;
  height: 2rem;
  min-width: 2rem;
  background-color: hsl(0 0% 100% / 0);
  position: relative;
  margin-inline: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.seen:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.seen:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.seen:focus-visible {
  box-shadow: 0 0 0 3px var(--light), 0 0 0 2px inset var(--light);
  outline: 1px solid var(--dark);
  outline-offset: -2px;
}

.seen:focus-visible .eye {
  filter: opacity(0.4);
}

.seen::after {
  position: absolute;
  content: "";
  width: 1px;
  inset: 0.5rem 0 0.5rem -0.5rem;
  background-color: var(--gray-200);
  filter: opacity(0.4);
}

.eye {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(0.3);
}
