.inputs {
  font-family: var(--ff-primary);
  font-size: var(--h6);
  color: var(--gray-700);
  font-weight: var(--fw-regular);
  background-color: var(--white);
  padding: 1rem;
  border: none;
  caret-color: currentColor;
  outline: 1px solid var(--gray-200);
  border-radius: 0.25rem;
  transition: background-color 200ms ease-out;
}

.full {
  width: 100%;
}

.max {
  width: max-content;
  padding-inline: 1.5rem;
}

.inputs[type="submit"] {
  font-weight: var(--fw-bold);
  color: var(--gray-700);
  background-color: var(--primary);
  outline: none;
  cursor: pointer;
}

.inputs[type="submit"]:hover {
  background-color: var(--hover);
}

.inputs[type="submit"]:active {
  filter: saturate(0.5);
}

.inputs[data-type="textarea"] {
  resize: vertical;
}

.inputs::placeholder {
  color: var(--gray-300);
  user-select: none;
}

.inputs[data-type="textarea"]:focus,
.text:focus-visible {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}
