.inputs {
  width: 100%;
  font-family: var(--ff-primary);
  font-size: var(--h6);
  color: var(--gray-700);
  font-weight: var(--fw-regular);
  background-color: var(--white);
  padding: 1rem;
  border: none;
  outline: 1px solid var(--gray-200);
  border-radius: 0.25rem;
}

.inputs[type="submit"] {
  font-weight: var(--fw-bold);
  color: var(--gray-700);
  background-color: var(--primary);
  outline: none;
  cursor: pointer;
}

.inputs[type="submit"]:hover {
  background-color: var(--hover);
}

.inputs::placeholder {
  color: var(--gray-300);
  user-select: none;
}

.text:focus {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}
