.main {
  padding-inline: var(--gap-inline);
}

.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 2rem;
  --light: hsla(237, 100%, 69%, 0.2);
  --dark: hsl(226, 100%, 75%);
}

.p {
  font-family: var(--ff-m);
  font-size: var(--h6);
  max-width: var(--max-width);
  margin-inline: auto;
  margin-top: 0.5rem;
}

.p strong {
  padding-right: 0.3rem;
  color: crimson;
}

.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff-m);
  gap: 0.5rem;
  position: relative;
  margin-bottom: 2rem;
}

.selectContainer p {
  font-size: var(--h5);
  font-weight: var(--fw-500);
  width: max-content;
}

.arrow {
  position: absolute;
  transform: rotateZ(0deg);
  color: var(--gray-900);
  right: 1rem;
  pointer-events: none;
  z-index: 200;
  transition: transform 200ms ease-in;
}

.selectContainer:has(select:focus-visible) .arrow {
  transform: rotateZ(180deg);
  transition: transform 200ms ease-in;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font: inherit;

  width: 20rem;
  height: 3rem;
  padding: 0 4rem 0 1rem;
  color: var(--gray-900);
  background-color: var(--primary);
  border-radius: 0.25em;
  box-shadow: 0 0 1rem -0.25rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

select:focus-visible,
select:focus-within {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}

select:hover {
  filter: brightness(0.99);
}

select option {
  color: inherit;
  background-color: var(--white);
}

select:focus {
  outline: none;
  border: none;
}

select::-ms-expand {
  display: none;
}

.iframe {
  width: 100%;
  height: 40rem;
  border: 5px solid var(--gray-200);
}

@media only screen and (max-width: 75rem) {
  .wrapper,
  .p {
    max-width: var(--max-width-sm);
  }
}

@media only screen and (max-width: 65rem) {
  .wrapper,
  .p {
    max-width: var(--max-width-xsm);
  }

  select {
    width: 10rem;
  }
}
