.card {
  width: 20rem;
  padding: 4rem 2rem 2rem;
  background-color: hsl(179, 95%, 96%);
  background-image: linear-gradient(
    315deg,
    hsl(179, 95%, 96%) 0%,
    hsl(179, 95%, 99%) 74%
  );
  box-shadow: 0 0 0 5px var(--light);
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  color: var(--gray-800);
  height: max-content;
  row-gap: 2rem;
  border-radius: 0.25rem;
  outline-color: transparent;
  transition: outline 1000ms ease;
}

.card:hover {
  outline: 1px solid var(--dark);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 1rem;
}

.image {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  outline: 0.25rem solid var(--gray-100);
  border-radius: 100vmax;
}

@media only screen and (max-width: 46rem) and (min-width: 39rem) {
  .card {
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    padding-top: 2rem;
    align-items: center;
  }

  .image {
    width: 8rem;
  }

  .info {
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 39rem) {
  .card {
    width: 100%;
  }

  .image {
    width: 60%;
  }
}

.heading h4 {
  font-size: var(--h5);
  font-weight: var(--fw-regular);
  text-transform: capitalize;
}

.heading span {
  font-size: var(--h6);
  color: var(--gray-400);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info svg {
  color: var(--gray-600);
}

.info :nth-child(2) svg {
  padding: 0.27rem;
}

.address {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: var(--fw-regular);
  transform-origin: left;
  gap: 0.5rem;
  transition: transform 200ms ease-in;
}

.address:is(:hover, :focus-visible):not(address) {
  transform: scale(1.05);
  color: var(--gray-900);
}

.social {
  display: flex;
}
