.footerContact {
  display: flex;
  justify-content: space-between;
  padding-block: 3rem;
  grid-column: 1 / -1;
}

.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.contact svg {
  color: var(--primary);
}

.contactInfo :where(.infoHeading, .infoDescription) {
  color: var(--gray-50);
}

.infoHeading {
  font-size: var(--h5);
  font-family: var(--ff-m);
  font-weight: var(--fw-500);
}

.infoDescription {
  font-size: var(--h6);
  font-family: var(--ff-os);
  font-weight: var(--fw-400);
  font-style: normal;
}
