.studyContainer {
  --bg: white;
  display: flex;
  background-color: var(--bg);
  gap: 2rem;
  padding-block: 5rem;
  box-shadow: 0 0 0 100vmax var(--bg);
  clip-path: inset(0 -100vmax);
}

.image {
  object-fit: cover;
  width: 30rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  width: 100%;
}

.title {
  font-family: var(--ff-m);
  font-weight: var(--fw-700);
  font-size: var(--h3);
  color: var(--gray-900);
}

.subtitle {
  font-family: var(--ff-m);
  font-weight: var(--fw-500);
  font-size: var(--h6);
  color: var(--gray-700);
}

.link {
  background-color: var(--primary);
  width: max-content;
  font-family: var(--ff-os);
  font-weight: var(--fw-400);
  font-size: var(--h5);
  color: var(--gray-900);
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  transition: background-color 200ms ease-out;
}

.link:hover {
  background-color: var(--hover);
}
