.studyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

.image {
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
