.container {
  background-image: url("/assets/BestBooks.jpg");
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.container svg {
  transform: rotateZ(-90deg);
}

.container::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsla(242, 64%, 10%, 0.749);
  backdrop-filter: blur(0.1rem);
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--h6);
  color: var(--gray-50);
  text-transform: uppercase;
  overflow: hidden;
}

@media only screen and (max-width: 40rem) {
  .flex {
    gap: 0.1rem;
  }
}

.flex > a:hover {
  color: var(--primary);
}

.flex :is(a, svg, span) {
  display: flex;
  align-items: center;
  justify-content: center;
}
