.container {
  padding-block: 5rem;
  background-image: url("/public/assets/BestBooks.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #ff000034;
  backdrop-filter: blur(0.25rem);
}
