.section {
  padding-inline: var(--gap-inline);
}

.container {
  --bg: white;

  background-color: var(--bg);
  box-shadow: 0 0 0 100vmax var(--bg);
  clip-path: inset(0 -100vmax);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  max-width: var(--maximum-width);
  padding-block: 6rem;
}

.image {
  aspect-ratio: 16 / 7;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary);
  justify-content: center;
  row-gap: 2rem;
  width: 100%;
}

.title {
  color: var(--gray-800);
  font-size: var(--h3);
  font-weight: var(--fw-bold);
}

.subtitle {
  color: var(--gray-700);
  font-size: var(--h6);
  font-weight: var(--fw-regular);
  line-height: var(--line-height);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

@media only screen and (max-width: 50rem) {
  .image {
    aspect-ratio: 16 / 10;
  }
}
