.section {
  max-width: var(--max-width);
  margin-inline: auto;
}

.container {
  display: grid;
  grid-template: auto / auto 20rem;
  column-gap: 2rem;
}

.container:first-child {
  grid-row: 1 / 2;
}
