.main {
  position: relative;
  padding-inline: 2rem;
}

.backgroundImg {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 700px;
  width: 100%;
  filter: blur(3px);
  filter: brightness(0.4);
  object-fit: cover;
  transition: transform 300ms ease-out, filter 300ms linear;
}
