.main {
  position: relative;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}

.backgroundImg {
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 700px;
  width: 100%;
  filter: blur(3px);
  filter: brightness(0.4);
  object-fit: cover;
  transition: transform 300ms ease-out, filter 300ms linear;
}

.section {
  max-width: var(--max-width);
  margin-inline: auto;
}

.departmentTitle {
  font-size: var(--h2);
  font-family: var(--ff-os);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 3rem;
  color: var(--gray-900);
  justify-content: space-between;
  gap: 2rem;
}

@media only screen and (max-width: 64rem) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 48rem) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
