.container {
  max-width: var(--maximum-width);
  margin-inline: auto;
  padding-block: 3rem;

  --light: hsla(237, 100%, 69%, 0.2);
  --dark: hsl(226, 100%, 75%);
}

.main {
  max-width: 35rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main > * {
  flex: 1;
}

.text h5 {
  font-family: var(--ff-primary);
  text-align: center;
  font-size: var(--h3);
  color: var(--gray-800);
  margin-bottom: 3rem;
  font-weight: var(--fw-bold);
}

.text span {
  font-family: var(--ff-primary);
  font-size: var(--h6);
  color: var(--gray-700);
  font-weight: var(--fw-regular);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error,
.success {
  padding: 0.5rem 1rem;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--h6);
  color: var(--gray-700);
  border-radius: 0.25rem;
}

.success {
  background-color: rgba(162, 255, 162, 0.6);
}

.error {
  background-color: rgba(255, 90, 90, 0.4);
}
