.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  isolation: isolate;
  --speed: 200ms;
}

.container {
  outline: 1px solid var(--gray-200);
  border-radius: 0.25rem;
  overflow: hidden;
}

.none {
  display: none;
}

.input {
  font-size: var(--h6);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--gray-700);
  width: 100%;
  padding-right: 1.5rem;
}

.input::file-selector-button {
  font-size: var(--h6);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--gray-700);
  background-color: var(--white, white);
  color: var(--gray-700);
  padding: 1rem 1.5rem;
  margin-right: 1.5rem;
  box-shadow: 0 -1px 0 1px var(--gray-200);
  border: none;
  text-overflow: ellipsis;
  transition: color var(--speed) ease-out,
    background-color var(--speed) ease-out;
}

.input:is(:hover, :focus)::file-selector-button {
  background-color: var(--gray-500);
  color: var(--white);
}

.image {
  border-radius: 0.25rem;
  outline: 1px solid var(--gray-200);
  overflow: hidden;
  aspect-ratio: 16 / 9;
  position: relative;
}

.image img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.02);
  transition: transform var(--speed) ease-out, filter var(--speed) ease-out;
}

.image img:hover {
  transform: scale(1.04);
  filter: grayscale(0.5);
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-radius: 0 0 0 1rem;
  background-color: var(--white);
  z-index: 1;
}

.delete button {
  all: unset;
  color: var(--gray-700);
  cursor: pointer;
}

.delete svg {
  transform: scale(0.9);
  aspect-ratio: 1 / 1;
  transition: color var(--speed) ease-out, transform var(--speed) ease-out;
}

.delete button:is(:hover, :focus-visible) svg {
  color: rgb(174, 54, 54);
  transform: rotateZ(-20deg);
}

.loading {
  position: absolute;
  inset: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white, white);
}

.loading svg {
  transform: scale(1.5);
}
