.container {
  outline: 1px solid var(--gray-200);
  border-radius: 0.25rem;
}

.input {
  font-size: var(--h6);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--gray-700);
}

.input::file-selector-button {
  font-size: var(--h6);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--gray-700);
  background-color: var(--white, white);
  color: var(--gray-700);
  padding: 1rem 1.5rem;
  margin-right: 1.5rem;
  border: none;
}

.input::file-selector-button:hover {
  background-color: #eee;
}
