.english {
  font-family: var(--ff-m);
}

.bangla {
  font-family: var(--ff-b);
  font-weight: var(--ff-700);
}

.heading {
  font-size: var(--h4);
  margin-bottom: 1.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  --speed: 100ms;
}

.items ::marker {
  content: "👉";
}

.items li {
  padding-left: 1rem;
  max-width: max-content;
  transition: margin var(--speed) ease-in, padding var(--speed) ease-in;
}

.items a {
  color: var(--gray-600);
  transition: color var(--speed) ease-in;
}

.items li:hover {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.items li:hover a {
  color: var(--gray-900);
}

@media only screen and (max-width: 75rem) {
  .container {
    max-width: var(--max-width-sm);
  }
}

@media only screen and (max-width: 65rem) {
  .container {
    max-width: var(--max-width-xsm);
  }
}
