.container {
  color: var(--gray-800);
}

.english {
  font-weight: var(--fw-regular);
  font-family: var(--ff-primary);
}

.bangla {
  font-family: var(--ff-secondary);
  font-weight: var(--ff-bold);
}

.heading {
  font-size: var(--h4);
  margin-bottom: 1.5rem;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
  --speed: 100ms;
}

.items ::marker {
  content: "👉";
}

.items li {
  padding-left: 1rem;
  max-width: max-content;
  transition: margin var(--speed) ease-in, padding var(--speed) ease-in;
}

.items a {
  color: var(--gray-700);
  transition: color var(--speed) ease-in, outline var(--speed) ease-in;
}

.items li:hover {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.items li:has(> a:focus-visible) {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}

.items a:focus-visible {
  outline: 2px rgba(0, 0, 0, 0.7) solid;
  border-radius: 1px;
  outline-offset: 2px;
}

.items li:hover a {
  color: var(--gray-900);
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  font-family: var(--ff-primary);
  color: var(--gray-800);
  font-weight: var(--fw-regular);
  background-color: var(--primary);
  max-width: max-content;
  padding: 0.25rem 1.5rem;
  outline-offset: 0;
  border-radius: 0.25rem;
}

.svg {
  transform: scale(0.8);
  color: var(--gray-600);
  transition: transform 200ms ease-out;
}

.action:hover,
.action:focus-visible {
  filter: saturate(1.2);
}

.action:focus-visible {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}

:is(.action:hover, .action:focus-visible) .svg {
  transform: translateX(0.2rem) scale(0.8);
}
