.section {
  max-width: var(--max-width);
  margin-inline: auto;
}

.departmentTitle {
  font-size: var(--h2);
  font-family: var(--ff-os);
  color: var(--gray-900);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-block: 3rem;
  color: var(--gray-900);
  justify-content: space-between;
  gap: 2rem;
}
