.section {
  padding-block: 2rem;
  background-color: white;
}

.text {
  font-family: var(--ff-b);
  font-size: var(--h5);
  text-align: right;
  width: max-content;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(calc(-100%));
  }
}
