.section {
  padding-block: 2rem;
  background-color: white;
  position: relative;
  isolation: isolate;
  --speed: 20s;
  --first: 2px;
  --color: white;
}

.section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    var(--color) 0% var(--first),
    transparent 10%,
    transparent 90%,
    var(--color) calc(100% - var(--first)) var(--first)
  );
}

.text {
  font-family: var(--ff-b);
  font-size: var(--h5);
  text-align: right;
  width: max-content;
  animation: marquee var(--speed) linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(110vw);
  }

  100% {
    transform: translateX(calc(-100%));
  }
}
