.section {
  padding-inline: var(--gap-inline);
  padding-block: 6rem;
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
  display: flex;
}

.container > * {
  flex-grow: 1;
}

@media only screen and (max-width: 75rem) {
  .container {
    max-width: var(--max-width-sm);
  }
}

@media only screen and (max-width: 65rem) {
  .container {
    max-width: var(--max-width-xsm);
  }
}

@media only screen and (max-width: 50rem) {
  .container {
    flex-direction: column;
    gap: 3rem;
  }
}
