:root {
  --header-size: 4rem;
}

.main {
  background-color: var(--gray-200);
  padding-inline: var(--gap-inline);
  z-index: 199;
  top: 0;
  position: sticky;
}

.header :is(a, img) {
  user-select: none;
  -webkit-user-drag: none;
}

.header {
  height: var(--header-size);
  max-width: var(--maximum-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.header > a {
  font-size: 1.5rem;
  color: var(--gray-700);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
}

.img {
  height: calc(var(--header-size) * 0.8);
  transition: transform 200ms ease-out;
}

.items {
  display: flex;
  gap: 2rem;
}

.items button {
  color: var(--gray-700);
}

.items a {
  font-size: 1.125rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-700);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  transition: transform 200ms ease-out;
}

.item:focus-visible,
.item:hover {
  color: var(--gray-800);
  transform: scale(1.01);
}

.toggler {
  display: none;
}

@media only screen and (max-width: 67.5rem) {
  .items li {
    display: none;
  }

  .items .b {
    display: flex;
  }

  .toggler {
    display: block;
    border: none;
    background: white;
    width: 2.3rem;
    height: 1.8rem;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 3px var(--gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 200ms ease-out;
  }

  .toggler > svg {
    pointer-events: none;
  }

  .toggler:focus-visible {
    outline: 2px solid var(--gray-900);
    outline-offset: 1px;
    filter: brightness(1.2);
  }
}

@media only screen and (max-width: 37rem) {
  .items .b {
    display: none;
  }

  .header > a {
    font-size: 1.125rem;
  }

  .img {
    height: calc(var(--header-size) * 0.6);
    transition: transform 200ms ease-out;
  }
}

.group {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}

.log {
  all: unset;
  height: min-content;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  color: var(--gray-900);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--h6);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  transition: background-color;
}

.log:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.in:is(:hover, :focus-visible) svg {
  transform: scale(1.1);
}

.out:is(:hover, :focus-visible) svg {
  transform: translateX(0.25rem);
}

.log:focus-visible {
  box-shadow: 0 0 0 5px var(--light);
  outline: 1px solid var(--dark);
}

.log svg {
  height: 1.25rem;
  width: auto;
  transition: transform 200ms ease-out;
}
