:root {
  --header-size: 4rem;
}

.main {
  background-color: var(--gray-200);
}

.header {
  height: var(--header-size);
  max-width: 70rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.header > a {
  font-size: 1.5rem;
}

.img {
  height: calc(var(--header-size) * 0.8);
  transition: transform 200ms ease-out;
}

.items {
  display: flex;
  gap: 2rem;
}

.items a {
  font-size: 1.125rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--gray-900);
  transition: transform 200ms ease-out;
}

.item:hover {
  color: var(--gray-600);
  transform: scale(1.02);
}
