:root {
  --nav-size: 4rem;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.navbarNav :is(a, li, button, img) {
  font-family: var(--ff-m);
  user-select: none;
  -webkit-user-drag: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--gray-900);
  position: sticky;
  top: var(--nav-size);
  z-index: 2000;
}

.navbarNav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.navItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  color: var(--gray-50);
  padding-inline: 1rem;
  font-size: 1.125rem;
  transition: box-shadow 300ms ease-out, background-color 300ms ease-out;
}

.dropdownToggler {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  padding-block: 0.5rem;
  background-color: transparent;
  font-size: 1.125rem;
  color: currentColor;
}

.dropdownToggler > svg {
  transition: transform 300ms ease-out;
}

.navItem:has(> :global.active) {
  box-shadow: var(--primary) inset 0 -5px 0;
}

.navItem:hover {
  color: var(--primary);
}

.dropdownMenu {
  background-color: var(--gray-50);
  border-radius: 0.5rem;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.5rem;
  pointer-events: none;
  position: absolute;
  top: calc(var(--nav-size) - 8px);
  transform-origin: 0 0;
  transform: scale(0.8);
  transition: opacity 200ms ease-out, transform 200ms ease-out,
    box-shadow 100ms ease-out;
  width: max-content;
  z-index: 20;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.dropdownMenu li {
  color: var(--gray-700);
  font-size: 1.125rem;
  padding: 0.35rem;
  border-radius: 0.25rem;
  transition: background-color 300ms linear;
}

.dropdownMenu a {
  padding-right: 1rem;
}

.dropdownMenu li:hover {
  background-color: var(--primary);
}

.dropdownMenu li:has(:global .active) {
  background-color: var(--primary);
}

.navItem:has(.dropdownMenu):has(:global .active) {
  color: var(--primary);
}

@media only screen and (min-width: 1080px) {
  .navItem:hover > .dropdownMenu,
  .navItem:focus-within > .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .navItem:focus-within > .dropdownMenu {
    z-index: 15;
  }

  .navItem:hover svg,
  .navItem:focus-within svg {
    transform: rotateZ(180deg);
  }
}

.navItem li:focus-within {
  background-color: var(--primary);
}

.navbarNav .navItem:focus-within {
  color: var(--primary);
}

@media only screen and (max-width: 1080px) {
  .navbar {
    position: fixed;
    right: 0;
    transform: translateX(40rem);
    height: auto;
    min-height: 30rem;
    box-shadow: 0 0 2rem 2px var(--gray-500);
    transition: transform 200ms ease-out;
    border-radius: 0 0 0 1rem;
    z-index: 1;
  }

  .open {
    transform: translateX(0);
  }

  .navbarNav {
    flex-direction: column;
    padding-block: 1rem;
  }

  .navItem {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 2.5rem;
    min-height: 2.5rem;
    transition: max-height 300ms ease-out, background-color 200ms ease-out,
      box-shadow 300ms ease-out;
    padding-left: 2rem;
    padding-top: 0.535rem;
  }

  .navItem:has(> :global.active) {
    box-shadow: var(--primary) inset 5px 0 0;
  }

  .dropdownToggler {
    margin: 0;
    padding-block: 0;
  }

  .dropdownMenu {
    position: relative;
    top: 0;
    transform: scale(1);
    background-color: transparent;
    padding-block: 0;
    width: auto;
    box-shadow: none;
    border-radius: 0;
    margin-block: 0.5rem;
  }

  .dropdownMenu li:has(:global .active) {
    color: var(--gray-900);
  }

  .dropdownMenu li {
    color: var(--gray-300);
    transition: color 100ms linear;
  }
  .dropdownMenu li:hover {
    color: var(--gray-900);
  }

  .navItem:focus-within {
    max-height: 20rem;
    background-color: var(--gray-800);
  }

  .navItem:has(.dropdownMenu):focus-within {
    cursor: pointer;
    pointer-events: none;
  }

  .navItem li:focus-within {
    background-color: var(--primary);
    color: var(--gray-800);
  }

  .navItem:focus-within svg {
    transform: rotateZ(180deg);
  }
  .navItem:focus-within .dropdownMenu {
    opacity: 1;
    pointer-events: auto;
  }
}

@media only screen and (max-width: 37rem) {
  .navItem,
  .dropdownToggler,
  .navItem li,
  .dropdownMenu {
    font-size: 1.015rem;
  }
}
