.section {
  padding-inline: var(--gap-inline);
}

.heroContainer {
  width: var(--max-width);
  height: var(--height);
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
}

@media only screen and (max-width: 75rem) {
  .heroContainer {
    width: var(--max-width-sm);
  }
}

.heading {
  font-family: var(--ff-m);
  font-size: var(--h1);
  color: var(--gray-50);
  filter: drop-shadow(0 0 60px black);
  max-width: 25ch;
}

.subtitle {
  font-family: var(--ff-m);
  font-size: var(--h6);
  font-weight: var(--fw-400);
  color: var(--gray-50);
  line-height: var(--p-line);
  width: 70ch;
  filter: drop-shadow(0 0 25px black);
}

.action {
  text-decoration: none;
  font-family: var(--ff-m);
  font-size: var(--h6);
  padding: 0.5rem 1.5rem;
  border: none;
  outline: 1px solid var(--primary);
  color: var(--primary);
  width: max-content;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: background-color 200ms ease-out, color 200ms ease-out;
}

.action > svg {
  transition: transform 200ms ease-out;
}

.action:hover {
  background-color: var(--primary);
  color: var(--gray-900);
  outline: none;
}

.action:hover > svg {
  transform: translateX(0.25rem);
}

@media only screen and (max-width: 65rem) {
  .heroContainer {
    width: var(--max-width-xsm);
  }

  .subtitle {
    width: auto;
  }
}

@media only screen and (max-width: 49rem) {
  .heroContainer {
    width: auto;
  }
}
