.heroContainer {
  max-width: 70rem;
  height: 44rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  row-gap: 1rem;
}

.heading {
  font-family: var(--ff-m);
  font-size: var(--h1);
  color: var(--gray-50);
}

.subtitle {
  font-family: var(--ff-os);
  font-size: var(--h5);
  color: var(--gray-100);
  line-height: 1.6;
  width: 80ch;
}

.action {
  text-decoration: none;
  font-family: var(--ff-m);
  font-size: var(--h6);
  padding: 0.5rem 1.5rem;
  border: none;
  outline: 1px solid var(--primary);
  color: var(--primary);
  width: max-content;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.action > svg {
  transition: transform 200ms ease-out;
}

.action:hover {
  filter: saturate(1.2);
}

.action:hover > svg {
  transform: translateX(0.25rem);
}
