.section {
  padding-inline: var(--gap-inline);
  padding-block: 6rem;
}

.container {
  position: relative;
  max-width: var(--maximum-width);
  margin-inline: auto;
}

.heading {
  font-size: var(--h2);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: var(--gray-800);
  margin-bottom: 3rem;
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

@media only screen and (max-width: 65rem) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 35rem) {
  .gallery {
    grid-template-columns: 1fr;
  }
}
