.footerSection {
  background-color: var(--gray-900);
  padding-inline: var(--gap-inline);
}

.container {
  max-width: var(--maximum-width);
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3rem;
}

:where(
    .socialItems,
    .logoDescription,
    .linkItem,
    .footerCopyRight,
    .socialHeading,
    .linkHeading
  ) {
  color: var(--gray-200);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--h6);
}

:where(.socialHeading, .linkHeading) {
  font-size: var(--h4);
  color: var(--gray-50);
}

.logoDescription {
  line-height: var(--line-height);
}

.footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logoImage {
  width: 8rem;
  transition: filter 200ms ease-out, transform 200ms ease-out;
}

.logoImage:hover,
.logoImage:focus-visible {
  filter: grayscale(0.5);
  transform: scale(1.02);
}

.logoImage img {
  font-family: var(--ff-primary);
  width: 100%;
  filter: brightness(1.5);
}

@media only screen and (max-width: 58.5rem) {
  .footerLogo {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 3rem;
  }

  .logoDescription {
    max-width: 65ch;
  }
}

.footerSocial {
  padding-block: 3rem;
}

.socialHeading {
  padding-block: 1rem;
}

.socialItems {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.socialItem {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--gray-50);
  transition: transform 200ms ease-out;
}

.socialItem svg {
  height: 1.5rem;
}

.socialItems :nth-child(2) svg {
  transform: scale(0.95);
}

@media only screen and (max-width: 58.5rem) {
  .footerSocial {
    padding-block: 0;
  }

  .socialItems {
    flex-direction: column;
    row-gap: 0.5rem;
  }
}

.linkHeading {
  display: flex;
  align-items: center;
  padding-block: 1rem;
  column-gap: 1rem;
}

.linkItems {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.linkItem {
  width: max-content;
}

@media only screen and (max-width: 58.5rem) {
  .footerLinks {
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 32.5rem) {
  .footerLinks {
    grid-column: 1 / -1;
  }

  .footerSocial {
    padding-bottom: 3rem;
  }
}

.footerCopyRight {
  grid-column: 1 / -1;
  background-color: var(--gray-800);
  color: var(--gray-300);
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 4rem;
  box-shadow: 0 0 0 100vmax var(--gray-800);
  clip-path: inset(0 -100vmax);
}

.footerCopyRight a {
  color: var(--primary);
}

.socialItem:focus-visible,
.socialItem:hover {
  color: var(--primary);
  transform: scale(1.02);
}

.linkItem a:focus-visible,
.linkItem:hover {
  text-decoration: underline;
  color: var(--primary);
}

.footerCopyRight a:focus-visible,
.footerCopyRight a:hover {
  text-decoration: underline;
  filter: brightness(1.2);
}

@media only screen and (max-width: 26rem) {
  .footerCopyRight {
    font-size: 0.8rem;
  }
}
