.post {
  max-width: var(--maximum-width);
  margin-inline: auto;
}

.title {
  font-size: var(--h5);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--gray-800);
}

.postContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.postGroup img {
  max-width: 100%;
  aspect-ratio: 16 / 9;
}
