@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #99ff99;
  --hover: hsl(120, 77%, 67%);
  --white: white;
  --gap-inline: 2rem;

  --max-width: 70rem;
  --max-width-sm: 59rem;
  --max-width-xsm: 44rem;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  --ff-m: "Montserrat";
  --ff-os: "Open Sans";
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1rem;

  --break-large: 75rem;
  --break-medium: 65rem;
}

:focus-visible {
  outline: none;
}

body {
  background-color: #f3f4f6;
}
