@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat:wght@500;700&family=Open+Sans:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: #99ff99;
  --hover: hsl(120, 77%, 67%);
  --white: white;
  --gap-inline: 2rem;

  --max-width: 70rem;
  --max-width-sm: 59rem;
  --max-width-xsm: 44rem;

  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  --ff-m: "Montserrat", sans-serif;
  --ff-os: "Open Sans", sans-serif;
  --ff-b: "Hind Siliguri", sans-serif;
  --fw-700: 700;
  --fw-500: 500;
  --fw-400: 400;
  --fw-300: 300;

  --h1: 4.209rem;
  --h2: 3.157rem;
  --h3: 2.369rem;
  --h4: 1.777rem;
  --h5: 1.333rem;
  --h6: 1rem;

  --p-line: 1.7;

  --break-large: 75rem;
  --break-medium: 65rem;

  --body-bg: #f3f4f6;
}

:focus-visible {
  outline: none;
}

body {
  background-color: var(--body-bg);
}

@media only screen and (max-width: 49rem) {
  :root {
    --h1: 2.488rem;
    --h2: 2.074rem;
    --h3: 1.728rem;
    --h4: 1.44rem;
    --h5: 1.2rem;
    --h6: 1rem;
  }
}

@media only screen and (max-width: 34rem) {
  :root {
    --gap-inline: 1rem;

    --h1: 1.802rem;
    --h2: 1.602rem;
    --h3: 1.424rem;
    --h4: 1.266rem;
    --h5: 1.125rem;
    --h6: 1rem;
  }
}
