.s {
  margin-bottom: 4rem;
  padding-inline: var(--gap-inline);
}

.wrapper {
  max-width: var(--maximum-width);
  margin-inline: auto;
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  padding-block: 10rem;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 47rem) {
  .wrapper {
    flex-direction: column;
    padding-block: 6rem;
  }
}

.title,
.form {
  flex: 1;
}

.title {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.title h4 {
  font-size: var(--h4);
  color: var(--gray-800);
  font-weight: var(--fw-regular);
}

.title p {
  color: var(--gray-700);
  font-size: var(--h6);
  line-height: var(--line-height);
}

.form {
  display: flex;
  flex-direction: column;
  font-size: var(--h6);
  gap: 1rem;
  flex: 1;
  position: relative;
}

.radioGroup {
  display: flex;
  gap: 1.5rem;
  background-color: var(--white, white);
  outline: 1px solid var(--gray-200);
  border-radius: 0.25rem;
  padding: 1rem;
}

.radioDisable {
  opacity: 0.8;
  outline: none;
}

.loading {
  position: absolute;
  inset: 0 0 calc(19px + 1rem) 0;
  transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(0.25rem);
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading svg {
  color: var(--gray-900);
  transform: scale(1.5);
}

.textLink {
  color: rgb(226, 20, 20);
}

.textLink:hover {
  text-decoration: underline;
}
