.container {
  --color: var(--dark);
  --speed: 200ms;
}

.radio {
  appearance: none;
}

.label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: var(--h6);
  font-family: var(--ff-primary);
  color: var(--gray-600);
  font-weight: var(--fw-regular);
}

.label::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  aspect-ratio: 1;
  outline: 2px solid var(--color);
  outline-offset: -2px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.9;
  transition: opacity var(--speed) ease-out;
}

.label::after {
  content: "";
  display: inline-block;
  width: 0.625rem;
  aspect-ratio: 1;
  border: 1px solid var(--color);
  background: var(--color);
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity var(--speed) ease-out;
}

.radio:checked + .label::after {
  opacity: 1;
}

.radio:not(:checked):hover + .label::after {
  opacity: 0.5;
}

.radio:not(:checked):focus-visible + .label::after {
  opacity: 0.5;
}
